/* =======================
   Fuentes y Texto
======================= */

/* Títulos principales */
.mon_titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem; /* Tamaño grande para títulos principales */
  line-height: 1.2; /* Ajuste de altura de línea para mejor legibilidad */
  color: #333; /* Color oscuro para buena visibilidad */
  margin-bottom: 1rem; /* Espacio debajo del título */
}

/* Subtítulos */
.mon_subtitulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.75rem; /* Tamaño moderadamente grande para subtítulos */
  line-height: 1.3; /* Ajuste de altura de línea */
  color: #555; /* Color un poco más claro que el de los títulos principales */
  margin-bottom: 0.75rem; /* Espacio debajo del subtítulo */
}

/* Texto normal */
.mon_texto {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem; /* Tamaño estándar para texto normal */
  line-height: 1.6; /* Espacio entre líneas para mejor legibilidad */
  color: #666; /* Color gris oscuro para un contraste adecuado */
  margin-bottom: 1rem; /* Espacio debajo del párrafo de texto */
}

/* =======================
   Estilos Generales
======================= */

body {
  background-color: rgb(3, 3, 47) !important;
}

/* =======================
   Botones de Navegación
======================= */

.icon-f,
.icon-x,
.icon-i,
.icon-g,
.icon-l {
  background-color: black;
  color: aliceblue;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 auto;
}

.icon-f:hover {
  background-color: #3b5998;
  color: aliceblue;
}

.icon-x:hover {
  background-color: #ffffff;
  border: solid black 1px;
}

.icon-x i {
  transition: filter 0.3s ease;
}

.icon-x:hover i {
  filter: invert(100%);
}

.icon-i:hover {
  background: linear-gradient(
    135deg,
    #f58529,
    #feda75,
    #dd2a7b,
    #8134af,
    #515bd4
  );
  color: aliceblue;
}

.icon-g:hover {
  background-color: #ffffff;
  border: solid black 1px;
}

.icon-g i {
  transition: filter 0.3s ease;
}

.icon-g:hover i {
  filter: invert(100%);
}

.icon-l:hover {
  background-color: #0077b5;
  color: aliceblue;
}

/* =======================
   Tarjetas
======================= */

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

/* =======================
   Espaciado
======================= */

.my-6 {
  margin-top: 170px; /* Margen superior */
  margin-bottom: 170px; /* Margen inferior */
}

.mt-6 {
  margin-top: 170; /* Margen superior */
}

.mb-6 {
  margin-bottom: 170; /* Margen superior */
}
/* =======================
   Imágenes
======================= */

.img-fondo {
  width: 100%; /* Ancho en porcentaje */
  min-width: 400px; /* Ancho mínimo fijo */
  max-width: 750px; /* Ancho máximo fijo, opcional */
  margin: auto;
  display: block;
}

/* =======================
   media 
======================= */

@media (max-width: 769px) {
  .mon_titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.7rem; /* Tamaño grande para títulos principales */
    line-height: 1.2; /* Ajuste de altura de línea para mejor legibilidad */
    color: #333; /* Color oscuro para buena visibilidad */
    margin-bottom: 1rem; /* Espacio debajo del título */
  }

  /* Subtítulos */
  .mon_subtitulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.1rem; /* Tamaño moderadamente grande para subtítulos */
    line-height: 1.3; /* Ajuste de altura de línea */
    color: #555; /* Color un poco más claro que el de los títulos principales */
    margin-bottom: 0.75rem; /* Espacio debajo del subtítulo */
  }

  /* Texto normal */
  .mon_texto {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem; /* Tamaño estándar para texto normal */
    line-height: 1.6; /* Espacio entre líneas para mejor legibilidad */
    color: #666; /* Color gris oscuro para un contraste adecuado */
    margin-bottom: 1rem; /* Espacio debajo del párrafo de texto */
  }
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 2s ease, max-height 2s ease;
}

.visible {
  opacity: 1;
  max-height: 100%; /* Ajusta este valor según el contenido */
  transition: opacity 1s ease, max-height 1s ease;
}

/* Loader Styles */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
